@model CountryStateList.Models.JurisdictionModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReactJS pub/sub with .NET demo</title>
</head>
<body>
    <div id="states">
        Loading states ...
    </div>
    <div id="countries">
        Loading countries ...
    </div>
    <script src='js/myDemo.js' type='text/javascript'></script>
    <script>
        @{
            var jsonCountryList = new System.Text.StringBuilder();
            Model.CountryList.ForEach(x =>
            {
                jsonCountryList.AppendFormat("{{'name': '{0}', 'value': '{1}',}}, ", x.Name, x.Id);
            });
            var jsonStateList = new System.Text.StringBuilder();
            Model.StateList.ForEach(x =>
            {
                jsonStateList.AppendFormat("{{'name': '{0}', 'value': '{1}',}}, ", x.Name, x.Id);
            });
        }
          myDemo.countryList = [@(Html.Raw(jsonCountryList.ToString()))];
          myDemo.stateList = [@(Html.Raw(jsonStateList.ToString()))];
          document.getElementById('states').dataset.stateList = JSON.stringify(myDemo.stateList);
          document.getElementById('states').dataset.selectedCountry = '@(Model.SelectedCountryId)';
          document.getElementById('countries').dataset.countryList = JSON.stringify(myDemo.countryList);
          document.getElementById('countries').dataset.selectedCountry = '@(Model.SelectedCountryId)';
    </script>
    <script type="text/javascript" src="http://localhost:7500/js/react/react-bundle.js"></script>
</body>
</html>
